@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*{
         padding: 0;
         margin: 0;
}
body{
        background: #253237;
         box-sizing: border-box;
         font-family: 'Poppins', sans-serif;
         display: flex;
         justify-content: center;
         min-width: 100vh;
         min-height: 100vh;
}

.container{
         background: #5c6b73;
         align-self: center;
         border: 1px solid purple;
         padding: 0.5em 1em;
         width: 80%;
         height: 550px;
}

input[type = text]{
         /* width: 75%; */
         padding: 1.5em;
         flex-grow: 4;
}

button.add{
         flex-grow: 1.5;
         margin-left: 5px;
}

.todos{
         max-height: 450px;
         overflow: auto;
}

li{
        user-select: none;
         margin-top: 5px;
         padding: 1em;
         list-style: none;
         border: 0.5px solid;
         position: relative;
}

i{
         float:right ;
}

.add-todo{
         display: flex;
         justify-content: space-between;
}
