@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500&display=swap');

*{
         padding: 0;
         margin: 0;
}
body{
         background: #393E46;
         box-sizing: border-box;
         color: lawngreen;
         font-family: 'Poppins', sans-serif;
         display: flex;
         justify-content: center;
         min-width: 100vh;
         min-height: 100vh;
}

.container{
         background: #222831;
         align-self: center;
         border: 1px solid;
         box-shadow:8px 8px 10px  #222831;
         padding: 2.5em;
         width: 50%;
         min-height: 60vh;
         max-height: 60vh;
         border-radius: 5px;
}

input[type = text]{
        /* font-size: 1rem; */
        background: wheat;
         padding: 1.5em;
         flex-grow: 4;
         border-radius: 8px;
         
}

button.add{
        background: #3C79F5;
         flex-grow: 1.5;
         margin-left: 5px;
         color: #EEEEEE;
         border-radius: 8px;
}

.todos{
         max-height: 45vh;
         overflow: auto;
         /* overflow: hidden; */
         padding: 1em 0;
         /* background: #393E46; */
}

li{
         user-select: none;
         margin-top: 8px;
         padding: 1em;
         list-style: none;
         border: 0.5px solid;
         position: relative;
         background: #393E46;
}

li:hover{
        background: #677386 ;
        transition-duration: 300ms;
}


i{
         float:right ;
}

i:hover{
        font-size: 1.3em;
        transition: 200ms;
        color: aliceblue;
}



.add-todo{
         display: flex;
         margin-bottom: 2em;
         
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    black;
    }
    :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    black;
       opacity:  1;
    }
    ::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:   black;
       opacity:  1;
    }
    :-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    black;
    }
    ::-ms-input-placeholder { /* Microsoft Edge */
       color:    black;
    }
    
    ::placeholder { /* Most modern browsers support this now. */
       color:    black;
    }
